@font-face {
    font-family: montserrat_regular;
    src: url(../fonts/montserrat.regular.ttf);
}

@font-face {
    font-family: open-sans_regular;
    src: url(../fonts/open-sans.regular.ttf);
}

@font-face {
    font-family: open-sans_light;
    src: url(../fonts/open-sans.light.ttf);
}

@font-face {
    font-family: open-sans_semibold;
    src: url(../fonts/open-sans.semibold.ttf);
}

@font-face {
    font-family: open-sans_bold;
    src: url(../fonts/open-sans.bold.ttf);
}

