.footer {
  &__partners {
    background-image url('../images/partners.jpg')
    background-repeat no-repeat
    width 1028px
    height 41px
    margin 45px auto
  }

  &__copyright {
    font-family open-sans_regular, sans-serif
    border-top 1px solid #ededed
    font-size 13px
    color #848484
    padding-top 23px
    padding-bottom 15px
    text-align center
  }
}
