.services {
  display flex
  color #515151
  min-height 305px

  &__service {
    padding-top 19px
    padding-right 80px
    padding-bottom 30px
    width 50%
    box-sizing border-box
  }

  &__service_properties {
    background-color #e2f8ff
    background-image url('../images/prop-icon.png')
    background-repeat no-repeat
    background-position 141px 84px
    padding-left: 25%;

  }
  &__header {
    font-family montserrat_regular, sans-serif
    font-size 23px
    margin-bottom 25px
  }

  &__text {
    font-family open-sans_regular, sans-serif
    line-height 30px
    margin-bottom 22px
  }

  &__button {
    font-family open-sans_semibold, sans-serif
    display block
    font-size 15px
    color #fff
    width 186px
    height 50px
    border-radius 5px
    border-style none

    &_blue {
      background-color #26a6d1
    }

    &_green {
      background-color #add136
    }
  }

  &__service_buyers {
    background-color #f5f9eb
    background-image url('../images/buyers-icon.png')
    background-repeat no-repeat
    background-position 74px 96px
    padding-left: 19%
  }
}
